.git
.github
.pnpm-store
.ruby-lsp
apm_modules
docs

backend/.bundle
backend/.kamal
backend/config/credentials/*.key
backend/config/master.key
backend/log/*
backend/storage/*
backend/tmp/*
backend/vendor/bundle

frontend/dist
frontend/node_modules
frontend/playwright-report
frontend/test-results

**/.DS_Store
**/.env*
