.DS_Store

# Rails
backend/.bundle/
backend/.kamal/secrets
backend/config/master.key
backend/coverage/
backend/log/*
!backend/log/.keep
backend/public/assets/
backend/public/rails-assets/
backend/storage/*
!backend/storage/.keep
backend/tmp/*
!backend/tmp/.keep
!backend/tmp/storage/
!backend/tmp/storage/.keep

# Frontend
.pnpm-store/
frontend/dist/
frontend/node_modules/
frontend/playwright-report/
frontend/test-results/
frontend/.vite/
frontend/src/assets/hero.png
frontend/src/assets/vite.svg
frontend/src/assets/vue.svg

# Mise
.mise.local.toml


# APM dependencies
apm_modules/
